In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import seaborn.objects as so
import matplotlib as plt
# sklearn
# formulaic

In [3]:
datos = pd.read_csv("full_data.csv")

In [4]:
datos

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,Date,hora,dia
0,420,3,1,8,0,1.745880e+09,False,IN_SERVICE,1,1,1,NaN,3,0,2025-04-28,23:28:05,Monday
1,464,11,2,7,0,1.745894e+09,False,IN_SERVICE,1,1,1,NaN,11,0,2025-04-28,23:28:05,Monday
2,420,5,1,6,1,1.745897e+09,False,IN_SERVICE,1,1,1,NaN,5,0,2025-04-29,00:32:59,Tuesday
3,464,11,2,7,0,1.745898e+09,False,IN_SERVICE,1,1,1,NaN,11,0,2025-04-29,00:32:59,Tuesday
4,420,5,1,6,1,1.745900e+09,False,IN_SERVICE,1,1,1,NaN,5,0,2025-04-29,01:13:46,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,1.770399e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,14:34:54,Friday
12524,420,3,3,6,0,1.770403e+09,False,IN_SERVICE,1,1,1,NaN,3,0,2026-02-06,15:36:04,Friday
12525,464,1,0,19,0,1.770403e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,15:36:04,Friday
12526,420,1,3,8,0,1.770406e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,16:31:56,Friday
12527,464,1,0,19,0,1.770406e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,16:31:56,Friday

# Procesamiento de datos

## Ejercicio 1

In [5]:
columnas_a_mantener = [
    "station_id",
    "num_bikes_available",
    "num_bikes_disabled",
    "num_docks_available",
    "num_docks_disabled",
    "Date",
    "hora",
    "dia"
]

datos_limpios = datos[columnas_a_mantener].copy()

datos_limpios

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,Date,hora,dia
0,420,3,1,8,0,2025-04-28,23:28:05,Monday
1,464,11,2,7,0,2025-04-28,23:28:05,Monday
2,420,5,1,6,1,2025-04-29,00:32:59,Tuesday
3,464,11,2,7,0,2025-04-29,00:32:59,Tuesday
4,420,5,1,6,1,2025-04-29,01:13:46,Tuesday
...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Friday
12524,420,3,3,6,0,2026-02-06,15:36:04,Friday
12525,464,1,0,19,0,2026-02-06,15:36:04,Friday
12526,420,1,3,8,0,2026-02-06,16:31:56,Friday
12527,464,1,0,19,0,2026-02-06,16:31:56,Friday

## Ejercicio 2

In [6]:
diccionario_de_traduccion = {
    "station_id": "estacion",
    "num_bikes_available": "bicis_disponibles",
    "num_bikes_disabled": "bicis_rotas",
    "num_docks_available": "puertos_disponibles",
    "num_docks_disabled": "puertos_rotos",
    "Date": "fecha",
    "hora": "horario",
    "dia": "dia_semana"
}

datos_limpios = datos_limpios.rename(columns=diccionario_de_traduccion)

datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana
0,420,3,1,8,0,2025-04-28,23:28:05,Monday
1,464,11,2,7,0,2025-04-28,23:28:05,Monday
2,420,5,1,6,1,2025-04-29,00:32:59,Tuesday
3,464,11,2,7,0,2025-04-29,00:32:59,Tuesday
4,420,5,1,6,1,2025-04-29,01:13:46,Tuesday
...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Friday
12524,420,3,3,6,0,2026-02-06,15:36:04,Friday
12525,464,1,0,19,0,2026-02-06,15:36:04,Friday
12526,420,1,3,8,0,2026-02-06,16:31:56,Friday
12527,464,1,0,19,0,2026-02-06,16:31:56,Friday

## Ejercicio 3

In [7]:
diccionario_de_dias = {
    "Monday": "Lunes",
    "Tuesday": "Martes",
    "Wednesday": "Miércoles",
    "Thursday": "Jueves",
    "Friday": "Viernes",
    "Saturday": "Sábado",
    "Sunday": "Domingo"
}

datos_limpios["dia_semana"] = datos["dia"].map(diccionario_de_dias)

## Ejercicio 4

In [8]:
datos_limpios.dtypes

estacion                int64
bicis_disponibles       int64
bicis_rotas             int64
puertos_disponibles     int64
puertos_rotos           int64
fecha                  object
horario                object
dia_semana             object
dtype: object

## Ejercicio 5

In [9]:
datos_limpios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12528 entries, 0 to 12527
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   estacion             12528 non-null  int64
 1   bicis_disponibles    12528 non-null  int64
 2   bicis_rotas          12528 non-null  int64
 3   puertos_disponibles  12528 non-null  int64
 4   puertos_rotos        12528 non-null  int64
 5   fecha                12528 non-null  object
 6   horario              12528 non-null  object
 7   dia_semana           12528 non-null  object
dtypes: int64(5), object(3)
memory usage: 783.1+ KB

In [10]:
datos_limpios.isna().sum()

estacion               0
bicis_disponibles      0
bicis_rotas            0
puertos_disponibles    0
puertos_rotos          0
fecha                  0
horario                0
dia_semana             0
dtype: int64

No contiene datos faltantes, solo la columna 'traffic' completa, la cual fue eliminada en el ejercicio 1.

## Ejercicio 6

In [11]:
# Extracción de fecha para hacer anio, mes y día, formato yyyy-mm-dd en strings

datos_limpios['anio'] = datos_limpios['fecha'].str[0:4]
datos_limpios['mes']  = datos_limpios['fecha'].str[5:7]
datos_limpios['dia']  = datos_limpios['fecha'].str[8:10]

# Lo mismo para horario pero solo guardo hora
datos_limpios['hora'] = datos_limpios['horario'].str[0:2]


columnas_de_tiempo_transformadas_a_numeros = ['anio', 'mes', 'dia', 'hora']
datos_limpios[columnas_de_tiempo_transformadas_a_numeros] = datos_limpios[columnas_de_tiempo_transformadas_a_numeros].apply(pd.to_numeric)

datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

In [12]:
datos_limpios.dtypes

estacion                int64
bicis_disponibles       int64
bicis_rotas             int64
puertos_disponibles     int64
puertos_rotos           int64
fecha                  object
horario                object
dia_semana             object
anio                    int64
mes                     int64
dia                     int64
hora                    int64
dtype: object

## Ejercicio 7

7. Otra forma de manejar las fechas y horas es pasarlas al formato datetime. Para esto, usaremos
el siguiente bloque de c´odigo:
datos_limpios["fecha"] =
pd.to_datetime(datos_limpios["fecha"])
datos_limpios["hora"] =
pd.to_datetime(datos_limpios["hora"]).dt.time

In [13]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

In [14]:
datos_limpios["fecha"] = pd.to_datetime(datos_limpios["fecha"])
datos_limpios["horario"] = pd.to_datetime(datos_limpios["horario"]).dt.time #Problema acá: dice hora pero eso transforma todo en 00:00:00, y con horario da el siguiente error:
'''
UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datos_limpios["horario"] = pd.to_datetime(datos_limpios["horario"]).dt.time
'''

C:\Users\Usuario\AppData\Local\Temp\ipykernel_28500\681115057.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datos_limpios["horario"] = pd.to_datetime(datos_limpios["horario"]).dt.time #Problema acá: dice hora pero eso transforma todo en 00:00:00, y con horario da el siguiente error:

'\nUserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.\n  datos_limpios["horario"] = pd.to_datetime(datos_limpios["horario"]).dt.time\n'

In [15]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

In [16]:
datos_limpios.dtypes

estacion                        int64
bicis_disponibles               int64
bicis_rotas                     int64
puertos_disponibles             int64
puertos_rotos                   int64
fecha                  datetime64[ns]
horario                        object
dia_semana                     object
anio                            int64
mes                             int64
dia                             int64
hora                            int64
dtype: object

## Ejercicio 8

In [17]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

 Implement´a una funci´on llamada determinar_estacion_anio que permita construir una variable llamada estacion_anio al pasarle nuestros datos. 
 
 La variable puede estar construida a partir de las variables ”dia” y ”mes” o de la variable ”fecha” (opci´on para valientes).

In [18]:
datos_limpios.groupby("anio")["fecha"].nunique()

anio
2025    248
2026     37
Name: fecha, dtype: int64

In [19]:
def determinar_estacion_anio(row):
    fecha = row['fecha']
    anio = fecha.year
    
    empieza_otonio     = pd.Timestamp(year=anio, month=3,  day=21)
    empieza_invierno  = pd.Timestamp(year=anio, month=6,  day=21)
    empieza_primavera = pd.Timestamp(year=anio, month=9,  day=21)
    empieza_verano    = pd.Timestamp(year=anio, month=12, day=21)

    if empieza_otonio <= fecha < empieza_invierno:
        return "Otoño"
    elif empieza_invierno <= fecha < empieza_primavera:
        return "Invierno"
    elif empieza_primavera <= fecha < empieza_verano:
        return "Primavera"
    else:
        return "Verano"

datos_limpios['estacion_anio'] = datos_limpios.apply(determinar_estacion_anio, axis=1)

In [20]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora,estacion_anio
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23,Otoño
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23,Otoño
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0,Otoño
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0,Otoño
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1,Otoño
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14,Verano
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15,Verano
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15,Verano
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16,Verano
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16,Verano

In [21]:
datos_limpios.groupby("mes")["estacion_anio"].value_counts()

mes  estacion_anio
1    Verano           1336
2    Verano            222
4    Otoño              92
5    Otoño            1408
6    Otoño             880
     Invierno          428
7    Invierno         1322
8    Invierno         1378
9    Invierno          908
     Primavera         446
10   Primavera        1406
11   Primavera        1346
12   Primavera         880
     Verano            476
Name: count, dtype: int64

# Análisis descriptivos

## Ejercicio 9

Quisieramos analizar la cantidad de bicis disponibles por hora, la cantidad de bicis rotas, y la cantidad de puertos disponibles en todo Ciudad Universitaria
 
(es decir, sumando la informacion de las dos estaciones). 
 
Para eso, generen un nuevo dataframe agrupado por fecha y hora llamado datos agrupados que contenga las variables ”cantidad bicis disponibles”, ”cantidad bicis rotas”, ”cantidad puertos disponibles”, y conserve las variables ”fecha”, ”hora”,
”dia semana”, ”dia”, ”mes” y ”anio”.

In [25]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora,estacion_anio
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23,Otoño
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23,Otoño
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0,Otoño
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0,Otoño
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1,Otoño
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14,Verano
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15,Verano
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15,Verano
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16,Verano
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16,Verano

In [31]:
# Cantidad de bicis disponibles por hora ¿en todo Ciudad Universitaria?
# Cantidad de bicis rotas ¿en todo Ciudad Universitaria?
# Cantidad de puertos disponibles en todo Ciudad Universitaria

In [28]:
# Dataframe agrupado por fecha y hora → datos agrupados
# - cantidad_bicis_disponibles
# - cantidad_bicis_rotas
# - cantidad_puertos_disponibles
# Conservar: fecha, hora, dia_semana, dia, mes, anio

In [30]:
cantidad_bicis_disponibles = datos_limpios["bicis_disponibles"].sum()
print(f"Cantidad de bicis disponibles: {cantidad_bicis_disponibles}")
cantidad_bicis_rotas = datos_limpios["bicis_rotas"].sum()
print(f"Cantidad de bicis rotas: {cantidad_bicis_rotas}")
cantidad_puertos_disponibles = datos_limpios["puertos_disponibles"].sum()
print(f"Cantidad de puertos disponibles: {cantidad_puertos_disponibles}")

Cantidad de bicis disponibles: 56929
Cantidad de bicis rotas: 15834
Cantidad de puertos disponibles: 127442

In [42]:
datos_eda = datos_limpios[["bicis_disponibles","bicis_rotas","puertos_disponibles","fecha","hora","dia_semana","dia","mes","anio"]]
datos_eda

,bicis_disponibles,bicis_rotas,puertos_disponibles,fecha,hora,dia_semana,dia,mes,anio
0,3,1,8,2025-04-28,23,Lunes,28,4,2025
1,11,2,7,2025-04-28,23,Lunes,28,4,2025
2,5,1,6,2025-04-29,0,Martes,29,4,2025
3,11,2,7,2025-04-29,0,Martes,29,4,2025
4,5,1,6,2025-04-29,1,Martes,29,4,2025
...,...,...,...,...,...,...,...,...,...
12523,1,0,19,2026-02-06,14,Viernes,6,2,2026
12524,3,3,6,2026-02-06,15,Viernes,6,2,2026
12525,1,0,19,2026-02-06,15,Viernes,6,2,2026
12526,1,3,8,2026-02-06,16,Viernes,6,2,2026
12527,1,0,19,2026-02-06,16,Viernes,6,2,2026

In [45]:
datos_eda_agrupados = datos_eda.groupby(["fecha", "hora"]).agg({
    "bicis_disponibles": "sum",
    "bicis_rotas": "sum",
    "puertos_disponibles": "sum",
    "dia_semana": "first",
    "dia": "first",
    "mes": "first",
    "anio": "first"
}).reset_index()

# Pero con aggregate no estoy creando las variables en sí, debería renombrarlas y listo, no?

In [46]:
datos_eda_agrupados

,fecha,hora,bicis_disponibles,bicis_rotas,puertos_disponibles,dia_semana,dia,mes,anio
0,2025-04-28,23,14,3,15,Lunes,28,4,2025
1,2025-04-29,0,16,3,13,Martes,29,4,2025
2,2025-04-29,1,16,3,13,Martes,29,4,2025
3,2025-04-29,2,16,3,13,Martes,29,4,2025
4,2025-04-29,3,16,3,13,Martes,29,4,2025
...,...,...,...,...,...,...,...,...,...
6259,2026-02-06,11,3,3,26,Viernes,6,2,2026
6260,2026-02-06,12,4,3,25,Viernes,6,2,2026
6261,2026-02-06,14,4,3,25,Viernes,6,2,2026
6262,2026-02-06,15,4,3,25,Viernes,6,2,2026
6263,2026-02-06,16,2,3,27,Viernes,6,2,2026