In [91]:
import pandas as pd
import numpy as np
import seaborn as sns
import seaborn.objects as so
import matplotlib as plt
# sklearn
# formulaic

In [92]:
datos = pd.read_csv("full_data.csv")

In [93]:
datos

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,last_reported,is_charging_station,status,is_installed,is_renting,is_returning,traffic,num_bikes_available_types.mechanical,num_bikes_available_types.ebike,Date,hora,dia
0,420,3,1,8,0,1.745880e+09,False,IN_SERVICE,1,1,1,NaN,3,0,2025-04-28,23:28:05,Monday
1,464,11,2,7,0,1.745894e+09,False,IN_SERVICE,1,1,1,NaN,11,0,2025-04-28,23:28:05,Monday
2,420,5,1,6,1,1.745897e+09,False,IN_SERVICE,1,1,1,NaN,5,0,2025-04-29,00:32:59,Tuesday
3,464,11,2,7,0,1.745898e+09,False,IN_SERVICE,1,1,1,NaN,11,0,2025-04-29,00:32:59,Tuesday
4,420,5,1,6,1,1.745900e+09,False,IN_SERVICE,1,1,1,NaN,5,0,2025-04-29,01:13:46,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,1.770399e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,14:34:54,Friday
12524,420,3,3,6,0,1.770403e+09,False,IN_SERVICE,1,1,1,NaN,3,0,2026-02-06,15:36:04,Friday
12525,464,1,0,19,0,1.770403e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,15:36:04,Friday
12526,420,1,3,8,0,1.770406e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,16:31:56,Friday
12527,464,1,0,19,0,1.770406e+09,False,IN_SERVICE,1,1,1,NaN,1,0,2026-02-06,16:31:56,Friday

# Procesamiento de datos

## Ejercicio 1

In [94]:
columnas_a_mantener = [
    "station_id",
    "num_bikes_available",
    "num_bikes_disabled",
    "num_docks_available",
    "num_docks_disabled",
    "Date",
    "hora",
    "dia"
]

datos_limpios = datos[columnas_a_mantener].copy()

datos_limpios

,station_id,num_bikes_available,num_bikes_disabled,num_docks_available,num_docks_disabled,Date,hora,dia
0,420,3,1,8,0,2025-04-28,23:28:05,Monday
1,464,11,2,7,0,2025-04-28,23:28:05,Monday
2,420,5,1,6,1,2025-04-29,00:32:59,Tuesday
3,464,11,2,7,0,2025-04-29,00:32:59,Tuesday
4,420,5,1,6,1,2025-04-29,01:13:46,Tuesday
...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Friday
12524,420,3,3,6,0,2026-02-06,15:36:04,Friday
12525,464,1,0,19,0,2026-02-06,15:36:04,Friday
12526,420,1,3,8,0,2026-02-06,16:31:56,Friday
12527,464,1,0,19,0,2026-02-06,16:31:56,Friday

## Ejercicio 2

In [95]:
diccionario_de_traduccion = {
    "station_id": "estacion",
    "num_bikes_available": "bicis_disponibles",
    "num_bikes_disabled": "bicis_rotas",
    "num_docks_available": "puertos_disponibles",
    "num_docks_disabled": "puertos_rotos",
    "Date": "fecha",
    "hora": "horario",
    "dia": "dia_semana"
}

datos_limpios = datos_limpios.rename(columns=diccionario_de_traduccion)

datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana
0,420,3,1,8,0,2025-04-28,23:28:05,Monday
1,464,11,2,7,0,2025-04-28,23:28:05,Monday
2,420,5,1,6,1,2025-04-29,00:32:59,Tuesday
3,464,11,2,7,0,2025-04-29,00:32:59,Tuesday
4,420,5,1,6,1,2025-04-29,01:13:46,Tuesday
...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Friday
12524,420,3,3,6,0,2026-02-06,15:36:04,Friday
12525,464,1,0,19,0,2026-02-06,15:36:04,Friday
12526,420,1,3,8,0,2026-02-06,16:31:56,Friday
12527,464,1,0,19,0,2026-02-06,16:31:56,Friday

## Ejercicio 3

In [96]:
diccionario_de_dias = {
    "Monday": "Lunes",
    "Tuesday": "Martes",
    "Wednesday": "Miércoles",
    "Thursday": "Jueves",
    "Friday": "Viernes",
    "Saturday": "Sábado",
    "Sunday": "Domingo"
}

datos_limpios["dia_semana"] = datos["dia"].map(diccionario_de_dias)

## Ejercicio 4

In [97]:
datos_limpios.dtypes

estacion                int64
bicis_disponibles       int64
bicis_rotas             int64
puertos_disponibles     int64
puertos_rotos           int64
fecha                  object
horario                object
dia_semana             object
dtype: object

## Ejercicio 5

In [98]:
datos_limpios.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12528 entries, 0 to 12527
Data columns (total 8 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   estacion             12528 non-null  int64
 1   bicis_disponibles    12528 non-null  int64
 2   bicis_rotas          12528 non-null  int64
 3   puertos_disponibles  12528 non-null  int64
 4   puertos_rotos        12528 non-null  int64
 5   fecha                12528 non-null  object
 6   horario              12528 non-null  object
 7   dia_semana           12528 non-null  object
dtypes: int64(5), object(3)
memory usage: 783.1+ KB

In [99]:
datos_limpios.isna().sum()

estacion               0
bicis_disponibles      0
bicis_rotas            0
puertos_disponibles    0
puertos_rotos          0
fecha                  0
horario                0
dia_semana             0
dtype: int64

No contiene datos faltantes, solo la columna 'traffic' completa, la cual fue eliminada en el ejercicio 1.

## Ejercicio 6

In [100]:
# Extracción de fecha para hacer anio, mes y día, formato yyyy-mm-dd en strings

datos_limpios['anio'] = datos_limpios['fecha'].str[0:4]
datos_limpios['mes']  = datos_limpios['fecha'].str[5:7]
datos_limpios['dia']  = datos_limpios['fecha'].str[8:10]

# Lo mismo para horario pero solo guardo hora
datos_limpios['hora'] = datos_limpios['horario'].str[0:2]


columnas_de_tiempo_transformadas_a_numeros = ['anio', 'mes', 'dia', 'hora']
datos_limpios[columnas_de_tiempo_transformadas_a_numeros] = datos_limpios[columnas_de_tiempo_transformadas_a_numeros].apply(pd.to_numeric)

datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

In [101]:
datos_limpios.dtypes

estacion                int64
bicis_disponibles       int64
bicis_rotas             int64
puertos_disponibles     int64
puertos_rotos           int64
fecha                  object
horario                object
dia_semana             object
anio                    int64
mes                     int64
dia                     int64
hora                    int64
dtype: object

## Ejercicio 7

7. Otra forma de manejar las fechas y horas es pasarlas al formato datetime. Para esto, usaremos
el siguiente bloque de c´odigo:
datos_limpios["fecha"] =
pd.to_datetime(datos_limpios["fecha"])
datos_limpios["hora"] =
pd.to_datetime(datos_limpios["hora"]).dt.time

In [102]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

In [ ]:
datos_limpios["fecha"] = pd.to_datetime(datos_limpios["fecha"])
datos_limpios["horario"] = pd.to_datetime(datos_limpios["horario"]).dt.time #Problema acá: dice hora pero eso transforma todo en 00:00:00, y con horario da el siguiente error:
'''
UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datos_limpios["horario"] = pd.to_datetime(datos_limpios["horario"]).dt.time
'''

C:\Users\Usuario\AppData\Local\Temp\ipykernel_30368\1374750399.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  datos_limpios["horario"] = pd.to_datetime(datos_limpios["horario"]).dt.time

In [110]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

In [111]:
datos_limpios.dtypes

estacion                        int64
bicis_disponibles               int64
bicis_rotas                     int64
puertos_disponibles             int64
puertos_rotos                   int64
fecha                  datetime64[ns]
horario                        object
dia_semana                     object
anio                            int64
mes                             int64
dia                             int64
hora                            int64
dtype: object

## Ejercicio 8

In [112]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1
...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16

 Implement´a una funci´on llamada determinar_estacion_anio que permita construir una variable llamada estacion_anio al pasarle nuestros datos. 
 
 La variable puede estar construida a partir de las variables ”dia” y ”mes” o de la variable ”fecha” (opci´on para valientes).

In [113]:
datos_limpios.groupby("anio")["fecha"].nunique()

anio
2025    248
2026     37
Name: fecha, dtype: int64

In [115]:
def determinar_estacion_anio(row):
    fecha = row['fecha']
    anio = fecha.year
    
    empieza_otonio     = pd.Timestamp(year=anio, month=3,  day=21)
    empieza_invierno  = pd.Timestamp(year=anio, month=6,  day=21)
    empieza_primavera = pd.Timestamp(year=anio, month=9,  day=21)
    empieza_verano    = pd.Timestamp(year=anio, month=12, day=21)

    if empieza_otonio <= fecha < empieza_invierno:
        return "Otoño"
    elif empieza_invierno <= fecha < empieza_primavera:
        return "Invierno"
    elif empieza_primavera <= fecha < empieza_verano:
        return "Primavera"
    else:
        return "Verano"

datos_limpios['estacion_anio'] = datos_limpios.apply(determinar_estacion_anio, axis=1)

In [116]:
datos_limpios

,estacion,bicis_disponibles,bicis_rotas,puertos_disponibles,puertos_rotos,fecha,horario,dia_semana,anio,mes,dia,hora,estacion_anio
0,420,3,1,8,0,2025-04-28,23:28:05,Lunes,2025,4,28,23,Otoño
1,464,11,2,7,0,2025-04-28,23:28:05,Lunes,2025,4,28,23,Otoño
2,420,5,1,6,1,2025-04-29,00:32:59,Martes,2025,4,29,0,Otoño
3,464,11,2,7,0,2025-04-29,00:32:59,Martes,2025,4,29,0,Otoño
4,420,5,1,6,1,2025-04-29,01:13:46,Martes,2025,4,29,1,Otoño
...,...,...,...,...,...,...,...,...,...,...,...,...,...
12523,464,1,0,19,0,2026-02-06,14:34:54,Viernes,2026,2,6,14,Verano
12524,420,3,3,6,0,2026-02-06,15:36:04,Viernes,2026,2,6,15,Verano
12525,464,1,0,19,0,2026-02-06,15:36:04,Viernes,2026,2,6,15,Verano
12526,420,1,3,8,0,2026-02-06,16:31:56,Viernes,2026,2,6,16,Verano
12527,464,1,0,19,0,2026-02-06,16:31:56,Viernes,2026,2,6,16,Verano

In [121]:
datos_limpios.groupby("mes")["estacion_anio"].value_counts()

mes  estacion_anio
1    Verano           1336
2    Verano            222
4    Otoño              92
5    Otoño            1408
6    Otoño             880
     Invierno          428
7    Invierno         1322
8    Invierno         1378
9    Invierno          908
     Primavera         446
10   Primavera        1406
11   Primavera        1346
12   Primavera         880
     Verano            476
Name: count, dtype: int64